@page
@using DataAccess.Models.NovelModel;
@using System.Text.Json
@model Involver.Pages.Episodes.DetailsModel

@{
    ViewData["Title"] = Model.Episode.Title;
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["ReturnRightFunction"] = false;
}
<partial name="_Toasts" model="Model.Toasts" />
<partial name="_StatusMessage" model="Model.StatusMessage" />
<h1>@Html.DisplayFor(model => model.Episode.Title)</h1>

<h4>章節</h4>
<hr />

<div class="btn-group row">
    <a asp-page="../Novels/Details" asp-route-id="@Model.Novel.NovelID"
       class="btn btn-xs btn-outline-info"><i class="fas fa-chevron-left"></i> 回到目錄</a>
    @if ((await AuthorizationService.AuthorizeAsync(
User, Model.Novel,
NovelOperations.Update)).Succeeded)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Episode.EpisodeID"
           class="btn btn-xs btn-outline-info">
            <i class="far fa-edit"></i>
            編輯
        </a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(
User, Model.Novel,
NovelOperations.Delete)).Succeeded)
    {
        <a asp-page="./Delete" asp-route-id="@Model.Episode.EpisodeID"
           class="btn btn-xs btn-outline-info">
            <i class="far fa-trash-alt"></i>
            刪除
        </a>
    }
    <a href="#CommentHead" class="btn btn-xs btn-outline-info"><i class="far fa-comment"></i>評論</a>
    <a href="#Voting" class="btn btn-xs btn-outline-info"><i class="fas fa-vote-yea"></i>投票</a>
</div>
<p></p>
<div class="reading-actions">
    @if (Model.PreviousEpisode != null)
    {
        <a asp-page="./Details" asp-route-id="@Model.PreviousEpisode.EpisodeID"><i class="fas fa-arrow-left"></i>上一章</a>
    }
    else
    {
        <a><i class="fas fa-arrow-left"></i>上一章</a>
    }
    &nbsp&nbsp
    @if (Model.NextEpisode != null)
    {
        <a asp-page="./Details" class="btn btn-xs btn-outline-warning" asp-route-id="@Model.NextEpisode.EpisodeID">下一章<i class="fas fa-arrow-right"></i></a>
    }
    else
    {
        <a>下一章<i class="fas fa-arrow-right"></i></a>
    }
</div>
<p></p>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Episode.UpdateTime)
        </dt>
        <dd class="col-sm-10" title="@Model.Episode.UpdateTime">
            @TimePeriodHelper.Get(Model.Episode.UpdateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Episode.Views)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Episode.Views)
        </dd>
    </dl>
</div>

<hr />

<article class="ck-content">
    @if (Model.Episode.Content != null)
    {
        @Html.AntiXssRaw(Model.Episode.Content.Replace("\r\n", "<br />"))
    }
</article>

<p></p>

@{
    string ShareURL = "https://involver.tw/Episodes/Details?id=" + Model.Episode.EpisodeID.ToString();
}
<!-- 複製連結到剪貼簿以分享 -->
<input class="form-control"
       type="text" value="@ShareURL"
       id="myInput" style="width: auto; display: inline;">
<!-- 因為toggle-bootstrap會把tooltip的style蓋掉，所以必須在這裡再強制設定style一次 -->
<div id="Share" class="tooltip" style="position: relative;display: inline-block;opacity: 1;">
    <button class="btn btn-primary"
            onclick="myFunction()"
            onmouseover="outFunc()">
        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
        分享連結
    </button>
</div>
&nbsp;
<!-- Your share button code -->
<div class="fb-share-button"
     data-href="@ShareURL"
     data-layout="button_count">
</div>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>

<hr />

<div id="Voting">
    @if ((await AuthorizationService.AuthorizeAsync(
User, Model.Votings[0],
VotingOperations.Create)).Succeeded)
    {
        <p>
            <a asp-page="../Votings/Create"
               asp-route-id="@Model.Episode.EpisodeID"
               class="btn btn-xs btn-outline-info">新增投票</a>
            <a asp-page="/Descriptions/Voting" target="_blank">投票說明</a>
        </p>
        <hr />
    }
    <partial name="Votings/PartialVotings" for="@Model.Votings" />
</div>
<p></p>
<div>
    <partial name="Comments/PartialComments" for="@Model.Comments" />
</div>

<div class="reading-actions">
    @if (Model.PreviousEpisode != null)
    {
        <a asp-page="./Details" asp-route-id="@Model.PreviousEpisode.EpisodeID"><i class="fas fa-arrow-left"></i>上一章</a>
    }
    else
    {
        <a><i class="fas fa-arrow-left"></i>上一章</a>
    }
    &nbsp&nbsp
    @if (Model.NextEpisode != null)
    {
        <a asp-page="./Details" class="btn btn-xs btn-outline-warning" asp-route-id="@Model.NextEpisode.EpisodeID">下一章<i class="fas fa-arrow-right"></i></a>
    }
    else
    {
        <a>下一章<i class="fas fa-arrow-right"></i></a>
    }
</div>

@section Styles{
    <style>
        .reading-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /* Share function's CSS */
        .tooltip {
            position: relative;
            display: inline-block;
            opacity: 1;
        }

            .tooltip .tooltiptext {
                visibility: hidden;
                width: 140px;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px;
                position: absolute;
                z-index: 1;
                bottom: 150%;
                left: 50%;
                margin-left: -75px;
                opacity: 0;
                transition: opacity 0.3s;
            }

                .tooltip .tooltiptext::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent transparent;
                }

            .tooltip:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
            }
    </style>
}

@section Scripts{
    <script>
        function myFunction() {
            var copyText = document.getElementById("myInput");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");

            var tooltip = document.getElementById("myTooltip");

            Share();
        }

        function outFunc() {
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "複製";
        }
    </script>
}
