@page
@model Involver.Pages.Episodes.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Episode[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episode[0].OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episode[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episode[0].UpdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episode[0].Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episode[0].HasVoting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episode[0].IsLast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episode[0].Novel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Episode) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasVoting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Novel.NovelID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EpisodeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EpisodeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EpisodeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
