<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 暫停使用 Google Adsence，改善用戶體驗 -->
    @* @if (userManager.GetUserAsync(User).Result != null)
    {
        @if (!userManager.GetUserAsync(User).Result.Prime)
        {
            //Google AdSense
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3010246710169742"
            crossorigin="anonymous"></script>
        }
    }
    else
    {
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3010246710169742"
            crossorigin="anonymous"></script>
    } *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Involver - @ViewData["Title"]</title>
    <script type="importmap">
        {
            "imports": {
                "vue": "https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.js"
            }
        }
    </script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/ckeditor5/CKContent.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @{
        string toggleBootstrap = @"https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@2.1.0/dist/css/toggle-bootstrap.min.css";
        string toggleBootstrapDark = @"https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@2.1.0/dist/css/toggle-bootstrap-dark.min.css";
        string toggleBootstrapPrint = @"https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@2.1.0/dist/css/toggle-bootstrap-print.min.css";
    }

    <link rel="stylesheet" href=@toggleBootstrap />
    <link rel="stylesheet" href=@toggleBootstrapDark />
    <link rel="stylesheet" href=@toggleBootstrapPrint />
    <link rel="stylesheet" asp-append-version="true" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    @RenderSection("Styles", required: false)
    <style>
        * {
            font-family: 'Microsoft JhengHei';
        }

        .video-container {
            position: relative;
            width: 100%;
            overflow: hidden;
            padding-top: 56.25%;
        }

        .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: none;
        }

        #gotop {
            position: fixed;
            z-index: 90;
            right: 30px;
            bottom: 31px;
            display: none;
            width: 50px;
            height: 50px;
            color: #fff;
            background: #33b5e5;
            background-image: linear-gradient(195deg,#fcc278 0%,#fb8c00 100%);
            line-height: 50px;
            border-radius: 50%;
            transition: all 0.5s;
            text-align: center;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        }

            #gotop :hover {
                background: transparent;
            }
    </style>
</head>

@{
    string theme = Context.Request.Cookies["_DarkMode"] == "On" ? "bootstrap-dark" : "bootstrap";
    string returnRightFunction = ViewData["ReturnRightFunction"] != null ? "false" : "true";
}

<body class="@theme" id="layout-body" oncontextmenu="return @returnRightFunction" onselectstart="return @returnRightFunction">
    <div class="text-center" style="position: absolute;top: 15rem;right: 50%;z-index:100;">
        <div id="loading" class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <header id="TopHead">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom navbar-themed box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="/favicon.ico"> Involver</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Novels/Index">創作</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Articles/Index">討論</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Announcements/Index">公告</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Feedbacks/Index">回報與意見</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Functions/CreateCover">製作小說封面</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Descriptions/AboutInvolver">關於 Involver</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="modal"></div>
    <div aria-live="polite" aria-atomic="true" style="position: fixed; top: 30px; right: 30px;min-width: 300px;z-index: 99;">
        <div id="toast-container" style="position: absolute; top: 0; right: 0;">
            <!-- Toasts will be appended here -->
        </div>
    </div>
    <div class="container mb-5 pb-3">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container-fluid" style="text-align:center">
            &copy; 2020 - Involver &nbsp;
            <a asp-area="" asp-page="/Descriptions/Privacy">隱私政策</a>
            -
            <a asp-area="" asp-page="/Descriptions/Terms">服務條款</a>
            -
            <a asp-area="" asp-page="/Descriptions/Content">內容政策</a>
            -
            <a asp-area="" asp-page="/Descriptions/Explanation">說明</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js" integrity="sha512-frFP3ZxLshB4CErXkPVEXnd5ingvYYtYhE5qllGdZmcOlRKNEPbufyupfdSTNmoF5ICaQNO6SenXzOZvoGkiIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/ckeditor5/build/ckeditor.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.toast').toast('show');
            $('#loading').hide();
        });

        $(function() {
            /* 按下GoTop按鈕時的事件 */
            $('#gotop').click(function() {
                $('html,body').animate({ scrollTop: 0 }, 'slow');   /* 返回到最頂上 */
                return false;
            });

            /* 偵測卷軸滑動時，往下滑超過400px就讓GoTop按鈕出現 */
            $(window).scroll(function() {
                if ($(this).scrollTop() > 400) {
                    $('#gotop').fadeIn();
                } else {
                    $('#gotop').fadeOut();
                }
            });
        });
    </script>
    <!-- 記得要把按鈕放到網頁上, 否則它不會出現 -->
    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>

    @RenderSection("Scripts", required: false)
    @Html.PageScripts()
</body>
</html>
