@using Microsoft.AspNetCore.Identity
@using DataAccess.Data;
@inject SignInManager<InvolverUser> SignInManager
@inject UserManager<InvolverUser> UserManager

<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <button type="button" class="nav-link btn btn-link" data-toggle="dropdown" title="搜尋">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" style="min-width: 300px;">
            <div class="nav-item col-auto">
                <script async src="https://cse.google.com/cse.js?cx=015953285050252692815:vji0k9v7dio"></script>
                <div class="gcse-search"></div>
            </div>
        </div>
    </li>
    @{
        string themeIcon = Context.Request.Cookies["_DarkMode"] == "On" ? "fa-sun" : "fa-moon";
    }
    <li class="nav-item">
        <a class="nav-link"
        onclick="SetDarkMode()" title="切換模式"><i class="fa-solid @themeIcon" id="theme-icon"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           href="https://github.com/Lauyea/involver" title="GitHub" target="_blank"><i class="fa-brands fa-github"></i></a>
    </li>
    <li class="nav-item dropdown">
        <div class="dropdown" id="notification"></div>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="dropdown">
                <button type="button" class="nav-link btn btn-link" data-toggle="dropdown">
                    @UserManager.GetUserName(User)
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <span class="dropdown-item">
                        <a class="btn btn-link"
                       asp-area="Identity"
                       asp-page="/Profile/Index"
                       asp-route-id="@UserManager.GetUserId(User)"
                       title="Profile">個人檔案</a>
                    </span>
                    <span class="dropdown-item">
                        <a class="btn btn-link"
                       asp-area="Identity"
                       asp-page="/Account/Manage/Index"
                       title="Manage">帳號管理</a>
                    </span>
                    <span class="dropdown-item">
                        <a class="btn btn-link" asp-page="/Involvings/StoredValue">儲值</a>
                    </span>
                    <form class="form-inline dropdown-item"
                      asp-area="Identity"
                      asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="btn btn-link">登出</button>
                    </form>
                </div>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">註冊</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">登入</a>
        </li>
    }
</ul>

@using (Html.BeginScripts())
{
    <script>
        $(document).ready(function() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Notifications", "Feed")',
                data: { userId: '@UserManager.GetUserId(User)' },
                success: function(result) {
                    $('#notification').html(result);
                }
            });
	    });
    </script>
}