@page
@model Involver.Pages.Articles.CreateModel

@{
    ViewData["Title"] = "新增";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    string UserID = userManager.GetUserId(User);
}
<partial name="_Toasts" model="Model.Toasts" />
<partial name="_StatusMessage" model="Model.StatusMessage" />
<h1>新增</h1>

<h4>討論</h4>
<hr />

<div>
    <a asp-page="Index" class="btn btn-xs btn-outline-info"><i class="fas fa-chevron-left"></i> 回到清單</a>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="post" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.ErrorMessage != null)
            {
                <div class="text-danger">@Model.ErrorMessage</div>
            }
            <div class="form-group">
                <label asp-for="Article.Title" class="control-label"></label>
                <input asp-for="Article.Title" class="form-control" />
                <span asp-validation-for="Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Content" class="control-label"></label>
                <textarea asp-for="Article.Content" id="editor" class="form-control" rows="12" placeholder="在這裡寫些東西..."></textarea>
                <div id="word-count"></div>
                <span asp-validation-for="Article.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.ImageUrl" class="control-label"></label>
                <input asp-for="Article.ImageUrl" class="form-control" />
                <span asp-validation-for="Article.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagString" class="control-label"></label>
                <input asp-for="TagString" class="form-control" />
                <span asp-validation-for="TagString" class="text-danger"></span>
            </div>
            <div class="alert alert-info" role="alert">
                <p>
                    Ex. 標籤1,標籤2,標籤3。
                </p>
                <p>
                    至多 @Parameters.TagSize 個標籤，每個標籤不超過 @Parameters.TagNameMaxLength 個字。
                </p>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <input class="form-check-input"
                           style="display:none"
                           value="@UserID"
                           asp-for="Article.ProfileID" />
                </label>
            </div>
            <div class="form-group">
                <input class="g-recaptcha btn btn-primary" 
                        data-sitekey="@Configuration["reCAPTCHA-SiteKey"]" 
                        data-callback='onSubmit' 
                        data-action='submit'
                        type="submit" value="建立" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function onSubmit(token) {
         document.getElementById("form").submit();
       }

        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: {
                    items: [
                        'heading',
                        '|',
                        'bold',
                        'italic',
                        'underline',
                        'strikethrough',
                        'fontBackgroundColor',
                        'fontColor',
                        'removeFormat',
                        'findAndReplace',
                        '|',
                        'alignment',
                        'bulletedList',
                        'numberedList',
                        'outdent',
                        'indent',
                        'horizontalLine',
                        '|',
                        'link',
                        'imageInsert',
                        'blockQuote',
                        'insertTable',
                        'mediaEmbed',
                        'sourceEditing',
                        'undo',
                        'redo'
                    ]
                },
                image: {
                    toolbar: [
                        'imageTextAlternative',
                        'imageStyle:inline',
                        'imageStyle:block',
                        'imageStyle:side'
                    ]
                },
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells'
                    ]
                },
                licenseKey: '',
                mediaEmbed: {
                    previewsInData: true
                },
                wordCount:{
                    displayWords: false,
                    onUpdate: stats => {
                        if (stats.characters > @Parameters.ArticleLength) {
                            alert("輸入字元超過最大限制: @Parameters.ArticleLength");
                        }
                    }
                }
            })
            .then(editor => {
                window.editor = editor;

                const wordCountPlugin = editor.plugins.get( 'WordCount' );
                const wordCountWrapper = document.getElementById( 'word-count' );

                wordCountWrapper.appendChild( wordCountPlugin.wordCountContainer );
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error(error);
            });
    </script>
}
