@page
@model Involver.Pages.Articles.IndexModel

@{
    ViewData["Title"] = "討論";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<span style="font-size:xx-large;">討論</span> <a asp-page="Create" class="btn btn-xs btn-outline-primary m-2 align-top">建立新文章</a>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color row">
        <p class="col-6">
            <input type="search" name="searchString" value="@Model.CurrentFilter" class="form-control" />
        </p>
        <p class="col-auto">
            <input type="submit" value="搜尋" class="btn btn-primary" /> |
            <a asp-page="./Index" class="btn btn-xs btn-outline-secondary">完整清單</a>
        </p>
        <p class="col-auto">
            <a asp-page="./Tags" title="標籤雲">
                <i class="fas fa-tags"></i>標籤雲
            </a>
        </p>
    </div>
</form>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th style="width:50%" class="text-center">
                @Html.DisplayNameFor(model => model.Articles[0].Title)
            </th>
            <th>

            </th>
            <th>
                In幣
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Articles)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ArticleID">@Html.DisplayFor(modelItem => item.Title)</a>
                    <p><small>@Html.DisplayFor(modelItem => item.UpdateTime)</small></p>
                    @if (item.Block == true)
                    {
                        <span class="text-danger">Block</span>
                    }
                </td>
                <td>
                    <p>
                        <a asp-area="Identity"
                       asp-page="/Profile/Index"
                       asp-route-id="@item.ProfileID">
                            <small>@Html.DisplayFor(modelItem => item.Profile.UserName)</small>
                        </a>
                    </p>
                    <p>
                        <small>觀看數:@Html.DisplayFor(modelItem => item.Views)</small>
                    </p>
                    <small>評論數:@(item.Comments.Count()-1)</small>
                </td>
                <td>
                    <p>
                        <small>總計 @Html.DisplayFor(modelItem => item.TotalCoins)</small>
                    </p>
                    <small>月計 @Html.DisplayFor(modelItem => item.MonthlyCoins)</small>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Articles.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Articles.HasNextPage ? "disabled" : "";

    string IsActive(int i)
    {
        string Active = "";
        if (i == Model.Articles.PageIndex)
        {
            Active = "active";
        }
        return Active;
    }

    int StartPage = 1;
    int EndPage = 1;

    PageSizeHelper.Get(Model.Articles.PageIndex, Model.Articles.TotalPages, ref StartPage, ref EndPage);
}

<div class="row">
    <div class="col-auto">
        <nav>
            <ul class="pagination">
                <li class="page-item @prevDisabled">
                    <a asp-page="./Index"
                       asp-route-PageIndex="1"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       class="page-link">
                        首
                    </a>
                </li>
                <li class="page-item @prevDisabled">
                    <a asp-page="./Index"
                       asp-route-PageIndex="@Model.Articles.PageIndex-1"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       class="page-link">
                        前
                    </a>
                </li>
                @for (int i = StartPage; i < EndPage + 1; i++)
                {
                    <li class="page-item @IsActive(i)">
                        <a asp-page="./Index"
                       asp-route-PageIndex="@i"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       class="page-link">
                            @i
                            @if (i == Model.Articles.PageIndex)
                            {
                                <span class="sr-only">(current)</span>
                            }
                        </a>
                    </li>

                }
                <li class="page-item @prevDisabled">
                    <a asp-page="./Index"
                       asp-route-PageIndex="@Model.Articles.PageIndex+1"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       class="page-link">
                        後
                    </a>
                </li>
                <li class="page-item @nextDisabled">
                    <a asp-page="./Index"
                       asp-route-PageIndex="@(Model.Articles.TotalPages)"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       class="page-link">
                        末
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-auto">
        <form class="form-inline"
              asp-page="./Index"
              method="get">
            <div class="form-group">
                <input type="text" name="currentFilter"
                       value="@Model.CurrentFilter"
                       class="form-control"
                       style="width:0px;display:none" />
            </div>
            <div class="form-group">
                <input type="number" name="pageIndex"
                       value="@Model.Articles.PageIndex"
                       class="form-control"
                       style="max-width:100px;display:inline" />
            </div>
            &nbsp&nbsp
            <div class="form-group">
                <input type="submit" value="跳轉" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>
