@page
@model Involver.Pages.Votings.DetailsModel

@{
    ViewData["Title"] = "投票";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var submitDisabled = Model.Voting.End ? "disabled" : "";
    bool valueEnabled = Model.Voting.Policy == Models.NovelModel.Voting.PolicyType.Liberty;
}
<h1>投票</h1>

<div>
    <h4>Voting</h4>
    <hr />
    <div>
        <a asp-page="../Episodes/Details"
           asp-route-id="@Model.Voting.EpisodeID"
           asp-fragment="Voting"
           class="btn btn-xs btn-outline-info">
        <i class="fas fa-chevron-left"></i>回到章節</a>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">選項</label>
                    <p></p>
                    @foreach (var option in Model.NormalOptions)
                    {
                        <input type="radio" asp-for="NormalOption.NormalOptionID" value="@option.NormalOptionID" />@option.Content
                        <br />
                    }
                </div>
                @if (Model.Voting.Threshold != 0 && Model.Voted == false)
                {
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="VirtualVote" />
                            <span>@Html.DisplayNameFor(model => model.VirtualVote)</span>
                        </label>
                        <div class="alert alert-warning" role="alert">
                            <p>
                                <strong>使用虛擬In幣，則作者無法收益，只能增加作品的人氣。</strong>
                            </p>
                        </div>
                        <a href="https://involver.tw/Involvings/StoredValue" target="_blank">購買實體In幣支持作者吧！</a>
                    </div>
                    @if (valueEnabled)
                    {
                        <div class="form-group">
                            <label class="control-label">票價</label>
                            <input asp-for="Vote.Value"
                                   class="form-control"
                                   value="@Model.Voting.Threshold" />
                            <span asp-validation-for="Vote.Value" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <p>
                            <text>票價： @Model.Voting.Threshold In幣</text>
                        </p>
                    }
                }
                <p class="text-danger">@Model.ErrorMessage</p>
                <input type="submit" value="投票" class="btn btn-primary" @submitDisabled />
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
