@page
@model Involver.Pages.Votings.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Voting[0].OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voting[0].Policy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voting[0].Mode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voting[0].BiddingLowerLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voting[0].NumberLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voting[0].CoinLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voting[0].End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voting[0].TotalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voting[0].TotalCoins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voting[0].CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voting[0].DeadLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voting[0].Episode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Voting) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Policy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BiddingLowerLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoinLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCoins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Episode.EpisodeID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.VotingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.VotingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.VotingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
