@using Involver.Models.NovelModel;
@model List<Voting>
@{
    List<CountDown> CountDownList = new List<CountDown>();
    bool Voted = false;

    string GetValuePercent(Voting voting, int Value)
    {
        int TotalCoins = 0;
        double ratio = 0;
        foreach (NormalOption option in voting.NormalOptions)
        {
            TotalCoins += option.TotalCoins;
        }
        if (TotalCoins != 0)
        {
            ratio = double.Parse(Value.ToString()) / double.Parse(TotalCoins.ToString());
        }
        string percent = (ratio * 100).ToString() + "%";
        return percent;
    }
    string GetNumberPercent(Voting voting, int Number)
    {
        int TotalNumber = 0;
        double ratio = 0;
        foreach (NormalOption option in voting.NormalOptions)
        {
            TotalNumber += option.Votes.Count();
        }
        if (TotalNumber != 0)
        {
            ratio = double.Parse(Number.ToString()) / double.Parse(TotalNumber.ToString());
        }
        string percent = (ratio * 100).ToString() + "%";
        return percent;
    }
}
@foreach (Voting voting in Model)
{
    @if (voting.NormalOptions.Count == 0)
    {
        continue;
    }
    {
        foreach (NormalOption option in voting.NormalOptions)
        {
            Voted = option.Votes.Any(v => v.OwnerID == userManager.GetUserId(User));
        }
    }
    <div>
        @if (voting.Limit == Voting.LimitType.Time)
        {
            var countDownId = "CountDownID" + voting.VotingID;
            var countDownTime = voting.DeadLine;
            CountDownList.Add(new CountDown { countDownTime = countDownTime, id = countDownId });
            <span title="這個投票有限制時間">限時： @voting.DeadLine.ToString()</span>
            <span style="text-align: right"> 剩餘： </span>
            <span id=@countDownId></span>
        }
        else if (voting.Limit == Voting.LimitType.Number)
        {
            <span title="這個投票有限制投票人數上限">限量上限： @voting.NumberLimit</span>
            <span>現量： @voting.TotalNumber</span>
        }
        else if (voting.Limit == Voting.LimitType.Value)
        {
            <span title="這個投票有限制總Coins上限">限值上限： @voting.CoinLimit</span>
            <span>現值： @voting.TotalCoins</span>
        }
        <p></p>
        <div>
            <div style="float: left">
                <span>投票標題： @voting.Title</span>
            </div>
            <div style="text-align: right">
                @if (voting.Policy == Voting.PolicyType.Equality)
                {
                    <span title="這個投票的每張票價值有限">平等</span>
                }
                else if (voting.Policy == Voting.PolicyType.Liberty)
                {
                    <span title="這個投票的每張票價值無限">自由</span>
                }
            </div>
        </div>
    </div>
    foreach (NormalOption option in voting.NormalOptions)
    {
        if (option.OwnerID == null)
        {
            continue;
        }
        //{
        //    Voted = option.Votes.Any(v => v.OwnerID == Model.UserID);
        //}
        if (voting.Policy == Voting.PolicyType.Liberty)
        {
            <div>
                @{
                    var valuePercent = GetValuePercent(voting, option.TotalCoins);
                }
                <div class="middle">
                    <div class="bar-container">
                        <div style="position:absolute;">
                            @if (option.Content.Length < Parameters.VotingOptionContentLength)
                            {
                                @option.Content
                            }
                            else
                            {
                                @(option.Content.Substring(0, Parameters.VotingOptionContentLength)+"...")
                            }
                            @valuePercent
                        </div>
                        @if (Voted || voting.End)
                        {
                            <div style="width: @valuePercent; height: 22px; background-color: #e66532;"></div>
                        }
                        else
                        {
                            <div style="width: 0; height: 22px; background-color: #e66532;"></div>
                        }
                    </div>
                </div>
                <div class="side right">
                    <div>@option.TotalCoins In幣</div>
                </div>
            </div>
        }
        else
        {
            <div>
                @{
                    var numberPercent = GetNumberPercent(voting, option.Votes.Count());
                }
                <div class="middle">
                    <div class="bar-container">
                        <div style="position:absolute;">
                            @if (option.Content.Length < Parameters.VotingOptionContentLength)
                            {
                                @option.Content
                            }
                            else
                            {
                                @(option.Content.Substring(0, Parameters.VotingOptionContentLength)+"...")
                            }
                            @numberPercent
                        </div>
                        @if (Voted || voting.End)
                        {
                            <div style="width: @numberPercent; height: 22px; background-color: #e66532;"></div>
                        }
                        else
                        {
                            <div style="width: 0; height: 22px; background-color: #e66532;"></div>
                        }
                    </div>
                </div>
                <div class="side right">
                    @if (Voted || voting.End)
                    {
                        <div>@option.Votes.Count() 票</div>
                    }
                    else
                    {
                        <div>? 票</div>
                    }
                </div>
            </div>
        }
    }
    <div style="text-align: right">
        @{
            var votingStatus = voting.End == true ? "投票結束" : "投票";
        }
        <a asp-page="../Votings/Details"
       asp-route-id="@voting.VotingID"
       class="btn btn-xs btn-outline-primary"><i class="fas fa-vote-yea"></i>@votingStatus</a>
    </div>
    <hr />
}

@using (Html.BeginScripts())
{
    <style>
        /* Three column layout */
        .side {
            float: left;
            width: 20%;
            margin-top: 10px;
        }

        .middle {
            margin-top: 10px;
            float: left;
            width: 80%;
        }

        /* Place text to the right */
        .right {
            text-align: right;
        }

        /* The bar container */
        .bar-container {
            width: 100%;
            background-color: #d6d6d6;
            text-align: center;
            color: white;
        }
    </style>
    <script>
        //Timer function's JS
        var countDownArray = JSON.parse('@Html.AntiXssRaw(JsonSerializer.Serialize(CountDownList))');
        countDownArray.forEach(function (item) {
            var countDownTime = item.countDownTime;
            var id = item.id;
            countDown(countDownTime, id);
        });
        function countDown(countDownTime, id)
        {
            // Set the date we're counting down to
            var countDownDate = new Date(countDownTime).getTime();

            // Update the count down every 1 second
            var x = setInterval(function () {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="demo"
                document.getElementById(id).innerHTML = days + "天 " + hours + "時 "
                    + minutes + "分 " + seconds + "秒 ";

                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById(id).innerHTML = "投票截止";
                }
            }, 1000);
        }
    </script>
}