@page
@model Involver.Pages.Novels.CreateModel

@{
    ViewData["Title"] = "新增";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    string UserID = userManager.GetUserId(User);
}

<h1>新增</h1>

<h4>創作</h4>
<hr />

<div>
    <a asp-page="Index" class="btn btn-xs btn-outline-info"><i class="fas fa-chevron-left"></i> 回到清單</a>
</div>

<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post" id="form">
            <div class="alert alert-danger" role="alert">
                <p>
                    <strong>注意！ 使用被版權保護的二次創作不能獲得收益，平台不負任何侵權責任</strong>
                </p>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.ErrorMessage != null)
            {
                <div class="text-danger">@Model.ErrorMessage</div>
            }
            <div class="form-group">
                <label asp-for="Novel.Title" class="control-label"></label>
                <input asp-for="Novel.Title" class="form-control" />
                <span asp-validation-for="Novel.Title" class="text-danger"></span>
            </div>
            <div class="alert alert-warning" role="alert">
                <p>
                    <strong>作品名稱一旦設定便無法更改</strong>
                </p>
            </div>
            <div class="form-group">
                <label asp-for="Novel.Introduction" class="control-label"></label>
                <textarea asp-for="Novel.Introduction" class="form-control" rows="6" placeholder="在這裡寫些東西..."></textarea>
                <span asp-validation-for="Novel.Introduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Novel.ImageUrl" class="control-label"></label>
                <input asp-for="Novel.ImageUrl" class="form-control" />
                <span asp-validation-for="Novel.ImageUrl" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="FileUpload.FormFile" class="control-label"></label>
                <input asp-for="FileUpload.FormFile" type="file" class="form-control" />
                <span asp-validation-for="FileUpload" class="text-danger"></span>
            </div>
            <div class="alert alert-warning" role="alert">
                <p>
                    <strong>圖片檔案大小限制在260KB以下</strong>
                </p>
            </div>*@
            <div class="form-group">
                <label asp-for="Novel.Type" class="control-label"></label>
                <select asp-for="Novel.Type" asp-items="Model.Types"></select>
                <span asp-validation-for="Novel.Type" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Novel.PrimeRead" />
                    <span title="只有付費會員才能閱讀最新章節">@Html.DisplayNameFor(model => model.Novel.PrimeRead)</span>
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Novel.Block" />
                    <span title="封鎖的創作不會顯示在列表上，如要解封請提出申請">@Html.DisplayNameFor(model => model.Novel.Block)</span>
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TagString" class="control-label"></label>
                <input asp-for="TagString" class="form-control" />
                <span asp-validation-for="TagString" class="text-danger"></span>
            </div>
            <div class="alert alert-info" role="alert">
                <p>
                    Ex. 標籤1,標籤2,標籤3。
                </p>
                <p>
                    至多 @Parameters.TagSize 個標籤，每個標籤不超過 @Parameters.TagNameMaxLength 個字。
                </p>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <input class="form-check-input"
                           style="display:none"
                           value="@UserID"
                           asp-for="Novel.ProfileID" />
                </label>
            </div>
            @*<div class="form-group">
            <label asp-for="Novel.ProfileID" class="control-label"></label>
            <select asp-for="Novel.ProfileID" class ="form-control" asp-items="ViewBag.ProfileID"></select>
        </div>*@
            <div class="form-group">
                <input class="g-recaptcha btn btn-primary" 
                        data-sitekey="@Configuration["reCAPTCHA-SiteKey"]" 
                        data-callback='onSubmit' 
                        data-action='submit'
                        type="submit" value="建立" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
       function onSubmit(token) {
         document.getElementById("form").submit();
       }
     </script>
}
