@page "{id}"
@model Involver.Pages.Novels.DeleteModel

@{
    ViewData["Title"] = "刪除創作";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var novelTypeDetermination = new NovelTypeDetermination();
}

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
        <div class="card border-danger">
            <div class="card-header bg-danger text-white">
                <h1 class="mb-0">刪除確認</h1>
            </div>
            <div class="card-body">
                <h5 class="card-title">你確定要刪除這部創作嗎？</h5>
                <p class="text-danger">此操作將會一併刪除所有章節且無法復原。</p>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Novel.Title)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Novel.Title)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Novel.Introduction)</dt>
                    <dd class="col-sm-9">@Model.Novel.Introduction</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Novel.Type)</dt>
                    <dd class="col-sm-9">@novelTypeDetermination.GetTypeName(Model.Novel.Type)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Novel.UpdateTime)</dt>
                    <dd class="col-sm-9">@Model.Novel.UpdateTime.ToLongDateString()</dd>
                </dl>
            </div>
            <div class="card-footer bg-transparent border-danger">
                <form method="post" class="d-flex justify-content-end">
                    <input type="hidden" asp-for="Novel.NovelID" />
                    <a asp-page="./Details" asp-route-id="@Model.Novel.NovelID" class="btn btn-secondary mr-2">取消</a>
                    <input type="submit" value="刪除" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>