@using DataAccess.Models.NovelModel;
@model List<Novel>

<div>
    <div>
        @foreach (var item in Model)
        {
            <div class="card">
                <a asp-page="./Details" asp-route-id="@item.NovelID">
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl"
                     asp-append-version="true"
                     alt="讀取失敗"
                     title="@item.Title"
                     style="max-width: 100%; max-height : 140px"
                     class="card-img-top">
                    }
                    else
                    {
                        <img src="https://picsum.photos/600/300?grayscale&random=@item.NovelID"
                     asp-append-version="true"
                     alt="讀取失敗"
                     title="主題圖片"
                     style="max-width: 100%; max-height : 140px"
                     class="card-img-top">
                    }
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-page="./Details" asp-route-id="@item.NovelID">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </h5>
                    <p class="card-text text-muted" style="font-size:small">@item.Introduction.StripHTML()</p>
                </div>
            </div>
        }
    </div>
</div>