@page
@model Involver.Pages.Announcements.DetailsModel

@{ 
    ViewData["Title"] = Model.Announcement.Title;
    ViewData["From"] = Parameters.Announcements;
    ViewData["FromId"] = Model.Announcement.ArticleID;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_Toasts" model="Model.Toasts" />

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0 text-break">@Html.DisplayFor(model => model.Announcement.Title)</h1>
            <div class="btn-group ml-2">
                <a asp-page="./Index" class="btn btn-sm btn-outline-secondary" title="回到清單"><i class="fas fa-list"></i></a>
                @if ((await AuthorizationService.AuthorizeAsync(User, Model.Announcement, ArticleOperations.Update)).Succeeded)
                {
                    <a asp-page="./Edit" asp-route-id="@Model.Announcement.ArticleID" class="btn btn-sm btn-outline-primary" title="編輯"><i class="fas fa-edit"></i></a>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Model.Announcement, ArticleOperations.Delete)).Succeeded)
                {
                    <a asp-page="./Delete" asp-route-id="@Model.Announcement.ArticleID" class="btn btn-sm btn-outline-danger" title="刪除"><i class="fas fa-trash-alt"></i></a>
                }
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-3 text-muted">
            <small>
                作者：
                <a asp-area="Identity"
                   asp-page="/Profile/Index"
                   asp-route-id="@Model.Announcement.ProfileID">
                    @Html.DisplayFor(model => model.Announcement.Profile.UserName)
                </a>
            </small>
            <small class="ml-3">
                發布於：<span title="@Model.Announcement.UpdateTime">@Model.Announcement.UpdateTime.ToShortDateString()</span>
            </small>
        </div>

        <article class="ck-content">
            @Html.AntiXssRaw(Model.Announcement.Content.Replace("\r\n", "<br />"))
        </article>
    </div>
    <div class="card-footer text-right">
        <a href="#CommentHead" class="btn btn-info">查看評論</a>
    </div>
</div>

<hr />

@await Component.InvokeAsync("CommentSection", new { from = Parameters.Articles, fromID = Model.Announcement.ArticleID })
