@model IEnumerable<DataAccess.Models.ArticleModel.Article>

@foreach (var article in Model)
{
    <div class="row">
        <div class="col-md-6">
            <p>
                <a asp-page="/Articles/Details" asp-route-id="@article.ArticleID">@Html.DisplayFor(modelItem => article.Title)</a>
            </p>
            <span class="badge @article.Type.GetBadgeClass() ms-2">
                @Html.DisplayFor(modelItem => article.Type)
            </span>
        </div>
        <div class="col-md-3">
            <p>
                <small>總計 @Html.DisplayFor(modelItem => article.TotalCoins)</small>
            </p>
            <small>月計 @Html.DisplayFor(modelItem => article.MonthlyCoins)</small>
        </div>
        <div class="col-md-3" title="@article.UpdateTime">
            <p>
                <small>@Involver.Helpers.TimePeriodHelper.Get(article.UpdateTime)</small>
            </p>
            <small>觀看數： @Html.DisplayFor(modelItem => article.TotalViews)</small>
        </div>
    </div>
    <hr />
}
