@model IEnumerable<DataAccess.Models.Follow>

@foreach (Follow follow in Model)
{
    if(follow.Novel == null)
    {
        continue;
    }
    <div class="row">
        <div class="col-md-5">
            <a asp-page="/Episodes/Details" 
               asp-route-id="@follow.Novel.Episodes.LastOrDefault()?.EpisodeID">
            @Html.DisplayFor(modelItem => follow.Novel.Episodes.LastOrDefault().Title)</a>
        </div>
        <div class="col-md-4">
            <a asp-page="/Novels/Details" asp-route-id="@follow.NovelID">@Html.DisplayFor(modelItem => follow.Novel.Title)</a>
            @if (follow.NovelMonthlyInvolver)
            {
                <div class="btn btn-xs btn-outline-danger disabled">Involve</div>
            }
        </div>
        <div class="col-md-3">
            <p>
                <a asp-page="./Index"
                   asp-route-id="@follow.Novel.Profile.ProfileID">
                <small>@Html.DisplayFor(modelItem => follow.Novel.Profile.UserName)</small></a>
            </p>
            <small title="@follow.Novel.UpdateTime">@Involver.Helpers.TimePeriodHelper.Get(follow.Novel.UpdateTime)</small>
        </div>
    </div>
    <hr />
}
