@model IEnumerable<DataAccess.Models.NovelModel.Novel>

@foreach (var novel in Model)
{
    <div class="row">
        <div class="col-md-6">
            <a asp-page="/Novels/Details" asp-route-id="@novel.NovelID">@Html.DisplayFor(modelItem => novel.Title)</a>
        </div>
        <div class="col-md-3">
            <p>
                <small>總計 @Html.DisplayFor(modelItem => novel.TotalCoins)</small>
            </p>
            <small>月計 @Html.DisplayFor(modelItem => novel.MonthlyCoins)</small>
        </div>
        <div class="col-md-3" title="@novel.UpdateTime">
            <p>
                <small>@Involver.Helpers.TimePeriodHelper.Get(novel.UpdateTime)</small>
            </p>
            <small>觀看數： @Html.DisplayFor(modelItem => novel.TotalViews)</small>
        </div>
    </div>
    <hr />
}
