@page
@model Involver.Areas.Identity.Pages.Profile.AgreesModel
@{
    ViewData["Title"] = "互動紀錄";
    ViewData["ActivePage"] = ManageNavPages.Interaction;
    ViewData["ProfileID"] = Model.Profile.ProfileID;
    if (!string.IsNullOrEmpty(Model.Profile.BannerImageUrl))
    {
        ViewData["BannerImageUrl"] = Model.Profile.BannerImageUrl;
    }
}

<div>
    <div>
        <a asp-page="./Interaction"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">評論</a>
        &nbsp&nbsp
        <a asp-page="./Messages"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">留言</a>
        &nbsp&nbsp
        <a asp-page="./Agrees"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-info disabled">贊同</a>
        &nbsp&nbsp
        <a asp-page="./Notifications"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">通知</a>
    </div>
    <p></p>
    <div>
        @if (Model.Agrees != null)
        {
            @foreach (Agree agree in Model.Agrees)
            {
                <div class="row">
                    <div class="col-md-5">
                        @if (agree.Comment != null)
                        {
                            @if (agree.Comment.Content.StripHTML().Length < Parameters.ContentLength)
                            {
                                @Html.AntiXssRaw(agree.Comment.Content.StripHTML());
                            }
                            else
                            {
                                @Html.AntiXssRaw(agree.Comment.Content.StripHTML().Substring(0, Parameters.ContentLength)+"...");
                            }
                        }
                        else
                        {
                            @if (agree.Message.Content.Length < Parameters.ContentLength)
                            {
                                @Html.AntiXssRaw(agree.Message.Content);
                            }
                            else
                            {
                                @Html.AntiXssRaw(agree.Message.Content.Substring(0, Parameters.ContentLength)+"...");
                            }
                        }
                    </div>
                    <div class="col-md-4">
                        @if (agree.Comment != null)
                        {
                            @if (agree.Comment.NovelID != null)
                            {
                                <a asp-page="/Novels/Details"
                                   asp-route-id="@agree.Comment.NovelID"
                                   asp-route-pageIndex="1">
                                    @agree.Comment.Novel.Title
                                </a>
                            }
                            else if (agree.Comment.EpisodeID != null)
                            {
                                <a asp-page="/Episodes/Details"
                                   asp-route-id="@agree.Comment.EpisodeID"
                                   asp-route-pageIndex="1">
                                    @agree.Comment.Episode.Title
                                </a>
                            }
                            else if (agree.Comment.ArticleID != null)
                            {
                                <a asp-page="/Articles/Details"
                                   asp-route-id="@agree.Comment.ArticleID"
                                   asp-route-pageIndex="1">
                                    @agree.Comment.Article.Title
                                </a>
                            }

                        }
                        else
                        {
                            <a asp-page="/Comments/Details"
                               asp-route-id="@agree.Message.CommentID"
                               asp-route-pageIndex="1">
                                @if (agree.Message.Comment.Content.Length < Parameters.SmallContentLength)
                                {
                                    @agree.Message.Comment.Content;
                                }
                                else
                                {
                                    @(agree.Message.Comment.Content.Substring(0, Parameters.SmallContentLength)+"...");
                                }
                            </a>
                        }
                    </div>
                    <div class="col-md-3" title="@agree.Comment.UpdateTime">
                        @if (agree.Comment != null)
                        {
                            @TimePeriodHelper.Get(agree.Comment.UpdateTime)
                        }
                        else
                        {
                            @TimePeriodHelper.Get(agree.Message.UpdateTime)
                        }

                    </div>
                </div>
                <hr />
            }
        }
    </div>
</div>


