@page
@model Involver.Areas.Identity.Pages.Profile.FollowCreatorsModel
@{
    ViewData["Title"] = "追蹤";
    ViewData["ActivePage"] = ManageNavPages.Follow;
    ViewData["ProfileID"] = Model.Profile.ProfileID;
    if (!string.IsNullOrEmpty(Model.Profile.BannerImageUrl))
    {
        ViewData["BannerImageUrl"] = Model.Profile.BannerImageUrl;
    }
}

<div>
    <div>
        <a asp-page="./Follow"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">創作</a>
        &nbsp&nbsp
        <a asp-page="./FollowArticles"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">討論</a>
        &nbsp&nbsp
        <a asp-page="./FollowCreators"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-info disabled">創作者</a>
        &nbsp&nbsp
        <a asp-page="./Followers"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">追蹤者</a>
    </div>
    <p></p>
    <div id="creators-container">
        <partial name="_FollowCreatorListPartial" model="Model.Creators" />
    </div>
    <div id="loading" style="display: none;" class="text-center">
        <p>正在加載更多...</p>
    </div>
</div>

@section Scripts {
    <script src="~/js/utils.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var profileId = "@Model.Profile.ProfileID";
            setupInfiniteScroll('#creators-container', '#loading', 'LoadMore', { id: profileId });
        });
    </script>
}