@page
@model Involver.Areas.Identity.Pages.Profile.FollowModel
@{
    ViewData["Title"] = "追蹤";
    ViewData["ActivePage"] = ManageNavPages.Follow;
    ViewData["ProfileID"] = Model.Profile.ProfileID;
    if (!string.IsNullOrEmpty(Model.Profile.BannerImageUrl))
    {
        ViewData["BannerImageUrl"] = Model.Profile.BannerImageUrl;
    }
}

<div>
    <div>
        <a asp-page="./Follow"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-info disabled">創作</a>
        &nbsp
        <a asp-page="./FollowArticles"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">討論</a>
        &nbsp
        <a asp-page="./FollowCreators"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">創作者</a>
        &nbsp
        <a asp-page="./Followers"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">追蹤者</a>
    </div>
    <p></p>
    <div>
        @if (Model.Follows != null)
        {
            @foreach (Follow follow in Model.Follows)
            {
                @if(follow.Novel == null)
                {
                    continue;
                }
                <div class="row">
                    <div class="col-md-5">
                        <a asp-page="/Episodes/Details" 
                           asp-route-id="@follow.Novel.Episodes.LastOrDefault().EpisodeID">
                        @Html.DisplayFor(modelItem => follow.Novel.Episodes.LastOrDefault().Title)</a>
                    </div>
                    <div class="col-md-4">
                        <a asp-page="/Novels/Details" asp-route-id="@follow.NovelID">@Html.DisplayFor(modelItem => follow.Novel.Title)</a>
                        @if (follow.NovelMonthlyInvolver)
                        {
                            <div class="btn btn-xs btn-outline-danger disabled">Involve</div>
                        }
                    </div>
                    <div class="col-md-3">
                        <p>
                            <a asp-page="./Index"
                               asp-route-id="@follow.Novel.Profile.ProfileID">
                            <small>@Html.DisplayFor(modelItem => follow.Novel.Profile.UserName)</small></a>
                        </p>
                        <small title="@follow.Novel.UpdateTime">@TimePeriodHelper.Get(follow.Novel.UpdateTime)</small>
                    </div>
                </div>
                <hr />
            }
        }
    </div>
</div>