@page
@model Involver.Areas.Identity.Pages.Profile.InvolvingModel
@{
    ViewData["Title"] = "Involving";
    ViewData["ActivePage"] = ManageNavPages.Involving;
    ViewData["ProfileID"] = Model.Profile.ProfileID;
    ViewData["ProfileName"] = Model.Profile.UserName;
    if (Model.Profile.BannerImage != null)
    {
        ViewData["BannerImage"] = Convert.ToBase64String(Model.Profile.BannerImage);
    }

    string TitleSub = "";
    string RecentBtnStyle;
    string MonthlyBtnStyle;
    string TotalTimeBtnStyle;
    RecentBtnStyle = MonthlyBtnStyle = TotalTimeBtnStyle = "btn-outline-info";
    if (Model.TimeSpan == "TotalTime")
    {
        TitleSub = "總共（按程度排序）";
        TotalTimeBtnStyle = "btn-info disabled";
    }
    else if (Model.TimeSpan == "Monthly")
    {
        TitleSub = "每月（按程度排序）";
        MonthlyBtnStyle = "btn-info disabled";
    }
    else
    {
        TitleSub = "最近（按時間排序）";
        RecentBtnStyle = "btn-info disabled";
    }
}

<h4>@ViewData["Title"] - @TitleSub</h4>
<hr />

<div>
    <div class="row">
        <div class="dropdown col-md-3">
            <button type="button" class="btn btn-xs btn-outline-info" data-toggle="dropdown">
                Involving <i class="fas fa-chevron-down"></i>
            </button>
            <div class="dropdown-menu">
                <a class="btn btn-xs @RecentBtnStyle dropdown-item"
                   asp-page="./Involving"
                   asp-route-id="@Model.Profile.ProfileID"
                   title="Recent">最近</a>
                <a class="btn btn-xs @MonthlyBtnStyle dropdown-item"
                   asp-page="./Involving"
                   asp-route-id="@Model.Profile.ProfileID"
                   asp-route-TimeSpan="Monthly"
                   title="Monthly">每月</a>
                <a class="btn btn-xs @TotalTimeBtnStyle dropdown-item"
                   asp-page="./Involving"
                   asp-route-id="@Model.Profile.ProfileID"
                   asp-route-TimeSpan="TotalTime"
                   title="TotalTime">總共</a>
            </div>
        </div>
        <div class="dropdown col-md-3">
            <button type="button" class="btn btn-xs btn-outline-info" data-toggle="dropdown">
                Involvers <i class="fas fa-chevron-down"></i>
            </button>
            <div class="dropdown-menu">
                <a class="btn btn-xs btn-outline-info dropdown-item"
                   asp-page="./Involvers"
                   asp-route-id="@Model.Profile.ProfileID"
                   title="Recent">最近</a>
                <a class="btn btn-xs btn-outline-info dropdown-item"
                   asp-page="./Involvers"
                   asp-route-id="@Model.Profile.ProfileID"
                   asp-route-TimeSpan="Monthly"
                   title="Monthly">每月</a>
                <a class="btn btn-xs btn-outline-info dropdown-item"
                   asp-page="./Involvers"
                   asp-route-id="@Model.Profile.ProfileID"
                   asp-route-TimeSpan="TotalTime"
                   title="TotalTime">總共</a>
            </div>
        </div>
    </div>
    <hr />
    <p></p>
    <div>
        @if (Model.Involvings != null)
        {
            @foreach (Involving involving in Model.Involvings)
            {
                <div class="row">
                    @if (involving.ProfileID != null)
                    {
                        <div class="col-md-2">
                            <b>創作者</b>
                        </div>
                        <div class="col-md-5">
                            <a asp-page="./Index"
                               asp-route-id="@involving.ProfileID">
                                @if (involving.Profile.Image != null)
                                {
                                    <img src="data:image/png;base64,@Convert.ToBase64String(involving.Profile.Image)"
                                         asp-append-version="true"
                                         alt="讀取失敗"
                                         title="@involving.Profile.UserName"
                                         style="width: 25%; height: auto; display:inline; border-radius:10%">
                                }
                                else
                                {
                                    var user = await userManager.FindByIdAsync(involving.Involver.ProfileID);
                                    <img src="https://www.gravatar.com/avatar/@user.Email.ToMd5()?d=retro"
                                         alt="讀取失敗"
                                         title="@involving.Profile.UserName"
                                         style="width: 25%; height: auto; display:inline; border-radius:10%">
                                }
                                @Html.DisplayFor(modelItem => involving.Profile.UserName)
                            </a>
                        </div>
                    }
                    else if (involving.NovelID != null)
                    {
                        <div class="col-md-2">
                            <b>創作</b>
                        </div>
                        <div class="col-md-5">
                            <a asp-page="/Novels/Details"
                               asp-route-id="@involving.NovelID"
                               title="TotalTime"> @involving.Novel.Title</a>
                        </div>
                    }
                    else if (involving.ArticleID != null)
                    {
                        <div class="col-md-2">
                            <b>文章</b>
                        </div>
                        <div class="col-md-5">
                            <a asp-page="/Articles/Details"
                               asp-route-id="@involving.ArticleID"
                               title="TotalTime"> @involving.Article.Title</a>
                        </div>
                    }
                <div class="col-md-2">
                    @if (Model.TimeSpan == "TotalTime")
                    {
                        @involving.TotalValue
                    }
                    else if (Model.TimeSpan == "Monthly")
                    {
                        @involving.MonthlyValue
                    }
                    else
                    {
                        @involving.Value
                    }
                    In幣
                </div>
                    <div class="col-md-3">
                        @involving.LastTime
                    </div>
                </div>
                <hr />
            }
        }
    </div>
</div>
