@page
@model Involver.Areas.Identity.Pages.Profile.InvolversModel
@{
    ViewData["Title"] = "Involvers";
    ViewData["ActivePage"] = ManageNavPages.Involving;
    ViewData["ProfileID"] = Model.Profile.ProfileID;
    if (!string.IsNullOrEmpty(Model.Profile.BannerImageUrl))
    {
        ViewData["BannerImageUrl"] = Model.Profile.BannerImageUrl;
    }

    string TitleSub = "";
    string RecentBtnStyle;
    string MonthlyBtnStyle;
    string TotalTimeBtnStyle;
    RecentBtnStyle = MonthlyBtnStyle = TotalTimeBtnStyle = "btn-outline-info";
    if (Model.TimeSpan == "TotalTime")
    {
        TitleSub = "總共（按程度排序）";
        TotalTimeBtnStyle = "btn-info disabled";
    }
    else if (Model.TimeSpan == "Monthly")
    {
        TitleSub = "每月（按程度排序）";
        MonthlyBtnStyle = "btn-info disabled";
    }
    else
    {
        TitleSub = "最近（按時間排序）";
        RecentBtnStyle = "btn-info disabled";
    }
}

<div>
    <div class="nav nav-pills flex-column flex-sm-row">
        <div class="dropdown col-md-3 nav-link">
            <button type="button" class="btn btn-xs btn-outline-info" data-toggle="dropdown">
                Involving <i class="fas fa-chevron-down"></i>
            </button>
            <div class="dropdown-menu">
                <a class="btn btn-xs btn-outline-info dropdown-item"
                   asp-page="./Involving"
                   asp-route-id="@Model.Profile.ProfileID"
                   title="Recent">最近</a>
                <a class="btn btn-xs btn-outline-info dropdown-item"
                   asp-page="./Involving"
                   asp-route-id="@Model.Profile.ProfileID"
                   asp-route-TimeSpan="Monthly"
                   title="Monthly">每月</a>
                <a class="btn btn-xs btn-outline-info dropdown-item"
                   asp-page="./Involving"
                   asp-route-id="@Model.Profile.ProfileID"
                   asp-route-TimeSpan="TotalTime"
                   title="TotalTime">總共</a>
            </div>
        </div>
        <div class="dropdown col-md-3 nav-link">
            <button type="button" class="btn btn-xs btn-outline-info" data-toggle="dropdown">
                Involvers <i class="fas fa-chevron-down"></i>
            </button>
            <div class="dropdown-menu">
                <a class="btn btn-xs @RecentBtnStyle dropdown-item"
                   asp-page="./Involvers"
                   asp-route-id="@Model.Profile.ProfileID"
                   title="Recent">最近</a>
                <a class="btn btn-xs @MonthlyBtnStyle dropdown-item"
                   asp-page="./Involvers"
                   asp-route-id="@Model.Profile.ProfileID"
                   asp-route-TimeSpan="Monthly"
                   title="Monthly">每月</a>
                <a class="btn btn-xs @TotalTimeBtnStyle dropdown-item"
                   asp-page="./Involvers"
                   asp-route-id="@Model.Profile.ProfileID"
                   asp-route-TimeSpan="TotalTime"
                   title="TotalTime">總共</a>
            </div>
        </div>
    </div>
    <hr />
    <p></p>
    <div>
        @if (Model.Involvers != null)
        {
            @foreach (Involving involving in Model.Involvers)
            {
                <div class="row">
                    <div class="col-md-5">
                        <a asp-page="./Index"
                           asp-route-id="@involving.InvolverID">
                            @if (!string.IsNullOrEmpty(involving.Involver.ImageUrl))
                            {
                                <img src="@involving.Involver.ImageUrl"
                                     asp-append-version="true"
                                     alt="讀取失敗"
                                     title="@involving.Involver.UserName"
                                     style="width: 25%; height: auto; display:inline; border-radius:10%">
                            }
                            else
                            {
                                var user = await userManager.FindByIdAsync(involving.Involver.ProfileID);
                                <img src="https://www.gravatar.com/avatar/@user.Email.ToMd5()?d=retro"
                                     alt="讀取失敗"
                                     title="@involving.Involver.UserName"
                                     style="width: 25%; height: auto; display:inline; border-radius:10%">
                            }
                            @Html.DisplayFor(modelItem => involving.Involver.UserName)
                        </a>
                    </div>
                    <div class="col-md-2">
                        @if (Model.TimeSpan == "TotalTime")
                        {
                            @involving.TotalValue
                        }
                        else if (Model.TimeSpan == "Monthly")
                        {
                            @involving.MonthlyValue
                        }
                        else
                        {
                            @involving.Value
                        }
                         In幣
                    </div>
                    <div class="col-md-3" title="@involving.LastTime">
                        @TimePeriodHelper.Get(involving.LastTime)
                    </div>
                </div>
                <hr />
            }
        }
    </div>
</div>
