@page
@model Involver.Areas.Identity.Pages.Profile.MessagesModel
@{
    ViewData["Title"] = "互動紀錄";
    ViewData["ActivePage"] = ManageNavPages.Interaction;
    ViewData["ProfileID"] = Model.Profile.ProfileID;
    ViewData["ProfileName"] = Model.Profile.UserName;
    if (!string.IsNullOrEmpty(Model.Profile.BannerImageUrl))
    {
        ViewData["BannerImageUrl"] = Model.Profile.BannerImageUrl;
    }
}

<h4>@ViewData["Title"]</h4>
<hr />

<div>
    <div>
        <a asp-page="./Interaction"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">評論</a>
        &nbsp&nbsp
        <a asp-page="./Messages"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-info disabled">留言</a>
        &nbsp&nbsp
        <a asp-page="./Agrees"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">贊同</a>
        &nbsp&nbsp
        <a asp-page="./Notifications"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">通知</a>
    </div>
    <p></p>
    <div>
        @if (Model.Messages != null)
        {
            @foreach (Message message in Model.Messages)
            {
                <div class="row">
                    <div class="col-md-5">
                        @if (message.Content.Length < Parameters.ContentLength)
                        {
                            @Html.AntiXssRaw(message.Content);
                        }
                        else
                        {
                            @Html.AntiXssRaw(message.Content.Substring(0, Parameters.ContentLength)+"...");
                        }
                    </div>
                    <div class="col-md-4">
                        <a asp-page="/Comments/Details"
                           asp-route-id="@message.CommentID"
                           asp-route-pageIndex="1">
                            @if (message.Comment.Content.Length < Parameters.SmallContentLength)
                            {
                                @Html.AntiXssRaw(message.Comment.Content);
                            }
                            else
                            {
                                @Html.AntiXssRaw(message.Comment.Content.Substring(0, Parameters.SmallContentLength)+"...");
                            }
                        </a>
                    </div>
                    <div class="col-md-3">
                        @TimePeriodHelper.Get(message.UpdateTime)
                    </div>
                </div>
                <hr />
            }
        }
    </div>
</div>

