@page "{id}"
@model Involver.Areas.Identity.Pages.Profile.NotificationsModel
@{
    ViewData["Title"] = "互動紀錄";
    ViewData["ActivePage"] = ManageNavPages.Interaction;
    ViewData["ProfileID"] = Model.Profile.ProfileID;
    if (!string.IsNullOrEmpty(Model.Profile.BannerImageUrl))
    {
        ViewData["BannerImageUrl"] = Model.Profile.BannerImageUrl;
    }
}

<div>
    <div>
        <a asp-page="./Interaction"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">評論</a>
        &nbsp&nbsp
        <a asp-page="./Messages"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">留言</a>
        &nbsp&nbsp
        <a asp-page="./Agrees"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">贊同</a>
        &nbsp&nbsp
        <a asp-page="./Notifications"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-info disabled">通知</a>
    </div>
    <p></p>
    <div id="notifications-container">
        <partial name="_NotificationListPartial" model="Model.Notifications" />
    </div>
    <div id="loading" style="display: none;" class="text-center">
        <p>正在加載更多...</p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            var profileId = "@Model.Profile.ProfileID";
            setupInfiniteScroll('#notifications-container', '#loading', 'LoadMore', { id: profileId });
        });
    </script>
}