@page
@model Involver.Pages.Comments.DetailModel

@{
    ViewData["Title"] = "評論";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (Model.Comment.Article != null)
{
    <a asp-page="../Articles/Details"
       asp-route-id="@Model.Comment.Article.ArticleID"
       asp-fragment="CommentHead">
        <i class="fas fa-chevron-left"></i>
        回到文章
    </a>
}
else if (Model.Comment.Announcement != null)
{
    <a asp-page="../Announcements/Details"
       asp-route-id="@Model.Comment.Announcement.AnnouncementID"
       asp-fragment="CommentHead">
        <i class="fas fa-chevron-left"></i>
        回到公告
    </a>
}
else if (Model.Comment.Episode != null)
{
    <a asp-page="../Episodes/Details"
       asp-route-id="@Model.Comment.Episode.EpisodeID"
       asp-fragment="CommentHead">
        <i class="fas fa-chevron-left"></i>
        回到章節
    </a>
}
else if (Model.Comment.Feedback != null)
{
    <a asp-page="../Feedbacks/Details"
       asp-route-id="@Model.Comment.Feedback.FeedbackID"
       asp-fragment="CommentHead">
        <i class="fas fa-chevron-left"></i>
        回到意見與回覆
    </a>
}
else if (Model.Comment.Novel != null)
{
    <a asp-page="../Novels/Details"
       asp-route-id="@Model.Comment.Novel.NovelID"
       asp-fragment="CommentHead">
        <i class="fas fa-chevron-left"></i>
        回到目錄
    </a>
}
&nbsp&nbsp
@if (Model.PreviousComment != null && Model.PreviousComment.Content != "anchor")
{
    <a asp-page="./Details" asp-route-id="@Model.PreviousComment.CommentID"><i class="fas fa-arrow-left"></i>上則評論</a>
}
else
{
    <a><i class="fas fa-arrow-left"></i>上則評論</a>
}
    &nbsp&nbsp
@if (Model.NextComment != null)
{
    <a asp-page="./Details" asp-route-id="@Model.NextComment.CommentID">下則評論<i class="fas fa-arrow-right"></i></a>
}
else
{
    <a>上則評論<i class="fas fa-arrow-right"></i></a>
}
<p></p>
<div class="row">
    <div class="col-md-6">
        @Html.AntiXssRaw(Model.Comment.Content.Replace("\r\n", "<br />"))
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        @if (Model.Comment.Dices != null)
        {
            foreach (var dice in Model.Comment.Dices)
            {
                <p>
                    <i class="fas fa-dice-d20"></i>
                    @dice.Value / @dice.Sides
                </p>
            }
        }
    </div>
    <div class="col-md-3">
        <p>
            <a asp-area="Identity"
               asp-page="/Profile/Index"
               asp-route-id="@Model.Comment.ProfileID">
                @if (Model.Comment.Profile.Image != null)
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Comment.Profile.Image)"
                         asp-append-version="true"
                         alt="讀取失敗"
                         title="@Model.Comment.Profile.UserName"
                         style="width: 25%; height: auto; display:inline; border-radius:10%">
                }
                <small>@Html.DisplayFor(model => model.Comment.Profile.UserName)</small>
            </a>
        </p>
        <small>@Html.DisplayFor(model => model.Comment.UpdateTime)</small>
    </div>
</div>
<p></p>
<div id="partialMessages"></div>
<ul id="partialMessagesPagination" class="pagination"></ul>
<p></p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <textarea asp-for="Message.Content" class="form-control" rows="3" placeholder="在這裡寫些東西..."></textarea>
                <span asp-validation-for="Message.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增留言"
                       asp-page-handler="CreateMessage"
                       asp-route-id="@Model.Comment.CommentID"
                       asp-route-pageIndex="1"
                       class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#partialMessagesPagination').twbsPagination({
            totalPages: @Model.Messages.TotalPages,
            visiblePages: 5,
            first: "第一頁",
            prev: "前一頁",
            next: "後一頁",
            last: "最後一頁",
            onPageClick: function(event, page) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Partial", "Messages")',
                    data: { commentId: @Model.Comment.CommentID, pageIndex: page },
                    success: function(result) {
                        $('#partialMessages').html(result);
                    }
                });
            }
        });
    </script>
}