@using DataAccess.Models;
@model PaginatedList<Comment>

@{
    //註明Comment從哪來，與它的ID
    string from = "";
    int? fromID = 0;
    if (Model[0].Feedback != null)
    {
        from = Parameters.Feedbacks;
        fromID = Model[0].FeedbackID;
    }
    else if (Model[0].Announcement != null)
    {
        from = Parameters.Announcements;
        fromID = Model[0].AnnouncementID;
    }
    else if (Model[0].Article != null)
    {
        from = Parameters.Articles;
        fromID = Model[0].ArticleID;
    }
    else if (Model[0].Novel != null)
    {
        from = Parameters.Novels;
        fromID = Model[0].NovelID;
    }
    else if (Model[0].Episode != null)
    {
        from = Parameters.Episodes;
        fromID = Model[0].EpisodeID;
    }
    DateTime Date2020 = new DateTime(2020, 1, 1, 0, 0, 0);
}


<p id="CommentHead">
    <a asp-page="../Comments/Create"
       asp-route-from="@from"
       asp-route-fromID="@fromID"
       class="btn btn-xs btn-outline-primary">新評論</a>
</p>

<p></p>

@if (Model.Count != 0)
{
    @foreach (var item in Model)
    {
        if (!item.Block && item.Profile != null)
        {
            <div class="media border p-3 rounded shadow-sm" id="@item.CommentID">
                <a asp-area="Identity"
       asp-page="/Profile/Index"
       asp-route-id="@item.ProfileID">
                    @if (!string.IsNullOrEmpty(item.Profile.ImageUrl))
                    {
                        <img src="@item.Profile.ImageUrl"
             asp-append-version="true"
             alt="讀取失敗"
             title="@item.Profile.UserName"
             class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    }
                    else
                    {
                        var user = await userManager.FindByIdAsync(item.ProfileID);
                        <img src="https://www.gravatar.com/avatar/@user.Email.ToMd5()?d=retro"
             alt="讀取失敗"
             title="@item.Profile.UserName"
             class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    }
                </a>
                <div class="media-body">
                    <b>
                        <a asp-area="Identity"
               asp-page="/Profile/Index"
               asp-route-id="@item.ProfileID">
                            @Html.DisplayFor(modelItem => item.Profile.UserName)
                        </a>
                        <a asp-page="./Details"
               asp-route-id="@fromID"
               asp-route-pageIndex="@Model.PageIndex"
               asp-fragment="@item.CommentID"><small>@TimePeriodHelper.Get(item.UpdateTime)</small></a>
                    </b>
                    @if (item.EpisodeID != null)
                    {
                        var involverInfo = item.Episode.Novel.Involvers.Where(i => i.InvolverID == item.ProfileID).FirstOrDefault();
                        if (involverInfo != null)
                        {
                            <p><small>月 Involve: @involverInfo.MonthlyValue In幣 | 總 Involve: @involverInfo.TotalValue In幣</small></p>
                        }
                    }
                    else if (item.NovelID != null)
                    {
                        var involverInfo = item.Novel.Involvers.Where(i => i.InvolverID == item.ProfileID).FirstOrDefault();
                        if (involverInfo != null)
                        {
                            <p><small>月 Involve: @involverInfo.MonthlyValue In幣 | 總 Involve: @involverInfo.TotalValue In幣</small></p>
                        }
                    }
                    <p class="ck-content">@Html.AntiXssRaw(item.Content.Replace("\r\n", "<br />"))</p>
                    <div class="pt-3 pb-3">
                        @if (item.Dices.FirstOrDefault() != null && item.Dices.FirstOrDefault().Value != 0)
                        {
                            foreach (var dice in item.Dices)
                            {
                                if (dice.Sides != 0 && dice.Value != 0)
                                {
                                    <i class="fas fa-dice-d20"></i>
                                    <text>@dice.Value / @dice.Sides &nbsp;</text>
                                }
                            }
                        }
                        else if(item.Dices.FirstOrDefault() != null && item.Dices.FirstOrDefault().Value == 0)
                        {
                            <i class="fas fa-dice-d20" title="有擲骰的評論"></i>
                        }
                    </div>
                    <div id="control-menu">
                        <a asp-page="../Comments/Details"
               asp-route-id="@item.CommentID"
               asp-route-from="@from"
               asp-route-fromID="@fromID"
               asp-route-pageIndex="1"
               title="留言"
               target="_blank">
                            <i class="far fa-comments"></i> 留言
                            @*@if (item.Messages != null)
                            {
                                @item.Messages.Count
                            }*@
                        </a>
                        <form method="post" class="d-inline">
                            @{
                                string AgreeComment = "AgreeComment" + item.CommentID;
                                string AgreeCount = "AgreeCount" + item.CommentID;
                            }
                            <button type="button" id="@AgreeComment"
                        class="btn" onclick="AgreeComment(this, @item.CommentID)">
                                <i class="far fa-thumbs-up"></i>
                                <span id="@AgreeCount">
                                    @if (item.Agrees != null)
                                    {
                                        @item.Agrees.Count
                                    }
                                </span>
                            </button>
                        </form>
                        <div class="dropdown d-inline-flex">
                            <button type="button" class="btn btn-link text-dark" data-toggle="dropdown">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                                @if ((await AuthorizationService.AuthorizeAsync(
                               User, item,
                               CommentOperations.Update)).Succeeded && item.Dices.Count() == 0)
                                {
                                    <a asp-page="../Comments/Edit"
                       asp-route-id="@item.CommentID"
                       asp-route-from="@from"
                       asp-route-fromID="@fromID"
                       class="dropdown-item"
                       title="編輯"><i class="far fa-edit"></i> 編輯</a>
                                }
                                @if ((await AuthorizationService.AuthorizeAsync(
                               User, item,
                               CommentOperations.Delete)).Succeeded)
                                {
                                    <a asp-page="../Comments/Delete"
                       asp-route-id="@item.CommentID"
                       asp-route-from="@from"
                       asp-route-fromID="@fromID"
                       class="dropdown-item"
                       title="刪除"><i class="far fa-trash-alt"></i> 刪除</a>
                                }
                                @if (item.Episode != null)
                                {
                                    if ((await AuthorizationService.AuthorizeAsync(
                                    User, item.Episode.Novel,
                                    NovelOperations.Delete)).Succeeded)
                                    {
                                        <form method="post">
                                            <button type="submit" asp-page-handler="block"
                                asp-route-id="@item.CommentID"
                                asp-route-fromID="@fromID"
                                asp-route-pageIndex="@Model.PageIndex"
                                class="dropdown-item" title="封鎖">
                                                <i class="fas fa-lock"></i> 封鎖
                                            </button>
                                        </form>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div>
                        @if (item.Messages.Count != 0)
                        {
                            foreach (var message in item.Messages.OrderBy(m => m.UpdateTime))
                            {
                                @if (message.Content.Length < Parameters.SmallContentLength)
                                {
                                    <b>@message.Profile.UserName &nbsp;</b>

                                    @message.Content
                                }
                                else
                                {
                                    <b>@message.Profile.UserName &nbsp;</b>

                                    @(message.Content.Substring(0, Parameters.SmallContentLength)+"...")
                                }
                                <hr />
                            }
                        }
                    </div>
                </div>
            </div>
            <br />
        }
        else if (item.Block == true && item.UpdateTime.CompareTo(Date2020) == 1)
        {
            <div class="pt-3 pb-3">
                <div>
                    @Html.DisplayFor(modelItem => item.Profile.UserName)
                    <small>@TimePeriodHelper.Get(item.UpdateTime)</small>
                    @if (item.Episode != null)
                    {
                        if ((await AuthorizationService.AuthorizeAsync(
                        User, item.Episode.Novel,
                        NovelOperations.Delete)).Succeeded)
                        {
                            <form method="post" class="d-inline-flex">
                                <button type="submit" asp-page-handler="block"
                    asp-route-id="@item.CommentID"
                    asp-route-fromID="@fromID"
                    asp-route-pageIndex="@Model.PageIndex"
                    class="btn" title="解除封鎖">
                                    <i class="fas fa-unlock"></i> 解除封鎖
                                </button>
                            </form>
                        }
                    }
                    <p>
                        <a asp-page="../Comments/Details"
               asp-route-id="@item.CommentID"
               asp-route-from="@from"
               asp-route-fromID="@fromID"
               asp-route-pageIndex="1"
               target="_blank">
                            本評論已被封鎖，點擊以詳閱內容
                        </a>
                    </p>
                </div>
            </div>
        }
    }
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    string IsActive(int i)
    {
        string Active = "";
        if (i == Model.PageIndex)
        {
            Active = "active";
        }
        return Active;
    }

    int StartPage = 1;
    int EndPage = 1;

    PageSizeHelper.Get(Model.PageIndex, Model.TotalPages, ref StartPage, ref EndPage);
}

<div class="row">
    <div class="col-auto">
        <nav>
            <ul class="pagination">
                <li class="page-item @prevDisabled">
                    <a asp-page="./Details"
                       asp-route-id="@fromID"
                       asp-route-pageIndex="1"
                       asp-fragment="CommentHead"
                       class="page-link">
                        首
                    </a>
                </li>
                <li class="page-item @prevDisabled">
                    <a asp-page="./Details"
                       asp-route-id="@fromID"
                       asp-route-pageIndex="@(Model.PageIndex-1)"
                       asp-fragment="CommentHead"
                       class="page-link">
                        前
                    </a>
                </li>
                @for (int i = StartPage; i < EndPage + 1; i++)
                {
                    <li class="page-item @IsActive(i)">
                        <a asp-page="./Details"
                       asp-route-id="@fromID"
                       asp-route-pageIndex="@i"
                       asp-fragment="CommentHead"
                       class="page-link">
                            @i
                            @if (i == Model.PageIndex)
                            {
                                <span class="sr-only">(current)</span>
                            }
                        </a>
                    </li>

                }
                <li class="page-item @prevDisabled">
                    <a asp-page="./Details"
                       asp-route-id="@fromID"
                       asp-route-pageIndex="@(Model.PageIndex+1)"
                       asp-fragment="CommentHead"
                       class="page-link">
                        後
                    </a>
                </li>
                <li class="page-item @nextDisabled">
                    <a asp-page="./Details"
                       asp-route-id="@fromID"
                       asp-route-pageIndex="@(Model.TotalPages)"
                       asp-fragment="CommentHead"
                       class="page-link">
                        末
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-auto">
        <form class="form-inline"
              asp-page="./Details"
              asp-fragment="CommentHead"
              method="get">
            <div class="form-group">
                <input type="number" name="id"
                       value="@fromID"
                       class="form-control"
                       style="width:0px;display:none" />
            </div>
            第&nbsp
            <div class="form-group">
                <input type="number" name="pageIndex"
                       value="@Model.PageIndex"
                       class="form-control"
                       style="width:100px;display:inline" />
            </div>
            &nbsp頁&nbsp
            <div class="form-group">
                <input type="submit" value="跳轉" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

@using (Html.BeginScripts())
{
    <script>
    </script>
}