@page
@model Involver.Pages.Messages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].ProfileID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].UpdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Block)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Message) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Block)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment.CommentID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MessageID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MessageID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MessageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
