@model PaginatedList<Message>

@{ 
    string[] AgreeMessageArray = new string[Model.Count()];
    string[] AgreeCountArray = new string[Model.Count()];
    int AgreeMessageIndex = 0;

    int GetMessageID(string AgreeMessage)
    {
        string a = AgreeMessage;
        string b = string.Empty;
        int val = 0;

        for (int i = 0; i < a.Length; i++)
        {
            if (Char.IsDigit(a[i]))
                b += a[i];
        }

        if (b.Length > 0)
            val = int.Parse(b);

        return val;
    }
}

<table class="table" id="MessageHead">
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.MessageID">
                <td style="width:50%">
                    <p>@Html.AntiXssRaw(item.Content.Replace("\r\n", "<br />"))</p>
                </td>
                <td style="width:20%">
                    @if (item.Comment.EpisodeID != null)
                    {
                        var involverInfo = item.Comment.Episode.Novel.Involvers.Where(i => i.InvolverID == item.ProfileID).FirstOrDefault();
                        if (involverInfo != null)
                        {
                            <p><small>月 Involve: @involverInfo.MonthlyValue In幣</small></p>
                            <p><small>總 Involve: @involverInfo.TotalValue In幣</small></p>
                        }
                    }
                </td>
                <td style="width:20%">
                    <p>
                        <a asp-area="Identity"
                           asp-page="/Profile/Index"
                           asp-route-id="@item.ProfileID">
                            @if (item.Profile.Image != null)
                            {
                                <img src="data:image/png;base64,@Convert.ToBase64String(item.Profile.Image)"
                                     asp-append-version="true"
                                     alt="讀取失敗"
                                     title="@item.Profile.UserName"
                                     style="width: 25%; height: auto; display:inline; border-radius:10%">
                            }
                            <small>@Html.DisplayFor(modelItem => item.Profile.UserName)</small>
                        </a>
                    </p>
                    <small>@Html.DisplayFor(modelItem => item.UpdateTime)</small>
                </td>
                <td style="width:10%">
                    @*<form method="post">
                        <button type="submit" asp-page-handler="agree"
                                asp-route-id="@item.MessageID"
                                asp-route-fromID="@item.CommentID"
                                asp-route-pageIndex="@Model.PageIndex"
                                class="btn">
                            <i class="far fa-thumbs-up"></i>
                            @if (item.Agrees != null)
                            {
                                @item.Agrees.Count
                            }
                        </button>
                    </form>*@
                    <form method="post" class="d-inline">
                        @{
                            string AgreeMessage = "AgreeMessage" + item.MessageID;
                            AgreeMessageArray[AgreeMessageIndex] = AgreeMessage;
                            string AgreeCount = "AgreeCount" + item.MessageID;
                            AgreeCountArray[AgreeMessageIndex] = AgreeCount;
                            AgreeMessageIndex++;
                        }
                        <button type="button" id="@AgreeMessage"
                                class="btn">
                            <i class="far fa-thumbs-up"></i>
                            <span id="@AgreeCount">
                                @if (item.Agrees != null)
                                {
                                    @item.Agrees.Count
                                }
                            </span>
                        </button>
                    </form>
                    @if ((await AuthorizationService.AuthorizeAsync(
               User, item,
               MessageOperations.Update)).Succeeded)
                    {
                        <a asp-page="../Messages/Edit"
                           asp-route-id="@item.MessageID"
                           asp-route-fromID="@item.CommentID"
                           title="編輯"><i class="far fa-edit"></i></a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(
              User, item,
              MessageOperations.Delete)).Succeeded)
                    {
                        <a asp-page="../Messages/Delete"
                           asp-route-id="@item.MessageID"
                           asp-route-fromID="@item.CommentID"
                           title="刪除"><i class="far fa-trash-alt"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    string IsActive(int i)
    {
        string Active = "";
        if (i == Model.PageIndex)
        {
            Active = "active";
        }
        return Active;
    }

    int StartPage = 1;
    int EndPage = 1;

    PageSizeHelper.Get(Model.PageIndex, Model.TotalPages, ref StartPage, ref EndPage);
}

@if (Model.Count != 0)
{
    <nav>
        <ul class="pagination">
            <li class="page-item @prevDisabled">
                <a asp-page="./Details"
                   asp-route-PageIndex="1"
                   asp-route-id="@Model[0].CommentID"
                   asp-fragment="MessageHead"
                   class="page-link">
                    第一頁
                </a>
            </li>
            @for (int i = StartPage; i < EndPage + 1; i++)
            {
                <li class="page-item @IsActive(i)">
                    <a asp-page="./Details"
                       asp-route-PageIndex="@i"
                       asp-route-id="@Model[0].CommentID"
                       asp-fragment="MessageHead"
                       class="page-link">
                        @i
                        @if (i == Model.PageIndex)
                        {
                            <span class="sr-only">(current)</span>
                        }
                    </a>
                </li>

            }
            <li class="page-item @nextDisabled">
                <a asp-page="./Details"
                   asp-route-PageIndex="@(Model.TotalPages)"
                   asp-route-id="@Model[0].CommentID"
                   asp-fragment="MessageHead"
                   class="page-link">
                    最後一頁
                </a>
            </li>
        </ul>
    </nav>

    <p></p>
    <form class="form-inline"
          asp-page="./Details"
          asp-fragment="MessageHead"
          method="get">
        第&nbsp
        <div class="form-group">
            <input type="number" name="pageIndex"
                   value="@Model.PageIndex"
                   class="form-control"
                   style="width:100px;display:inline" />
        </div>
        &nbsp頁&nbsp
        <div class="form-group">
            <input type="submit" value="跳轉" class="btn btn-outline-primary" />
        </div>
    </form>
}


@using (Html.BeginScripts())
{
    <script>
    @{
        AgreeMessageIndex = 0;
    }
        @foreach(string AgreeMessage in AgreeMessageArray)
        {
            if (AgreeMessage == null)
            {
                break;
            }
            <text>
            $("#@AgreeMessage").click(function () {
                $.ajax({
                    method: "post",
                    url: "Details?handler=AgreeMessage&id=@GetMessageID(AgreeMessage)",
                    //加上X-CSRF-TOKEN header
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    error: function (xhr, status, err) {
                        if (xhr.status === 401 || xhr.status === 403) {
                            alert("請先登入");
                        }
                        else {
                            alert("系統錯誤：未搜索到指定評論");
                        }
                    }
                }).done(function (res) {
                    $("#@AgreeCountArray[AgreeMessageIndex]").text(res);
                });
            });
            </text>
            AgreeMessageIndex++;
        }

    </script>
}