@page
@model Involver.Pages.Messages.PartialModel

@{
    Layout = null;
}

<div id="MessageHead">
    @foreach (var item in Model.Messages)
    {
        <div class="media border p-3 shadow-sm rounded" id="@item.MessageID">
            <a asp-area="Identity"
           asp-page="/Profile/Index"
           asp-route-id="@item.ProfileID">
                @if (item.Profile.Image != null)
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(item.Profile.Image)"
                 asp-append-version="true"
                 alt="讀取失敗"
                 title="@item.Profile.UserName"
                 class="mr-3 mt-3 rounded-circle" style="width:60px;">
                }
                else
                {
                    var user = await userManager.FindByIdAsync(item.ProfileID);
                    <img src="https://www.gravatar.com/avatar/@user.Email.ToMd5()?d=retro"
                 alt="讀取失敗"
                 title="@item.Profile.UserName"
                 class="mr-3 mt-3 rounded-circle" style="width:60px;">
                }
            </a>
            <div class="media-body">
                <b>
                    <a asp-area="Identity"
                   asp-page="/Profile/Index"
                   asp-route-id="@item.ProfileID">
                        @Html.DisplayFor(modelItem => item.Profile.UserName)
                    </a> <small>@Html.DisplayFor(modelItem => item.UpdateTime)</small>
                </b>
                @if (item.Comment.EpisodeID != null)
                {
                    var involverInfo = item.Comment.Episode.Novel.Involvers.Where(i => i.InvolverID == item.ProfileID).FirstOrDefault();
                    if (involverInfo != null)
                    {
                        <p><small>月 Involve: @involverInfo.MonthlyValue In幣 | 總 Involve: @involverInfo.TotalValue In幣</small></p>
                    }
                }
                <p>@Html.AntiXssRaw(item.Content.Replace("\r\n", "<br />"))</p>
                <p>
                    <form method="post" class="d-inline">
                        @{
                            string AgreeMessage = "AgreeMessage" + item.MessageID;
                            string AgreeCount = "AgreeCount" + item.MessageID;
                        }
                        <button type="button" id="@AgreeMessage"
                            class="btn" onclick="AgreeMessage(this, @item.MessageID)">
                            <i class="far fa-thumbs-up"></i>
                            <span id="@AgreeCount">
                                @if (item.Agrees != null)
                                {
                                    @item.Agrees.Count
                                }
                            </span>
                        </button>
                    </form>
                    @if ((await AuthorizationService.AuthorizeAsync(
                   User, item,
                   MessageOperations.Update)).Succeeded)
                    {
                        <a asp-page="../Messages/Edit"
                   asp-route-id="@item.MessageID"
                   asp-route-fromID="@item.CommentID"
                   title="編輯"><i class="far fa-edit"></i></a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(
                   User, item,
                   MessageOperations.Delete)).Succeeded)
                    {
                        <a asp-page="../Messages/Delete"
                   asp-route-id="@item.MessageID"
                   asp-route-fromID="@item.CommentID"
                   title="刪除"><i class="far fa-trash-alt"></i></a>
                    }
                </p>
            </div>
        </div>
        <br />
    }
</div>


@using (Html.BeginScripts())
{
    <script>
        @*<text>
        $("#@AgreeMessage").click(function() {
        $.ajax({
        method: "post",
        url: "Details?handler=AgreeMessage&id=@GetMessageID(AgreeMessage)",
        //加上X-CSRF-TOKEN header
        beforeSend: function(xhr) {
        xhr.setRequestHeader("X-CSRF-TOKEN",
        $('input:hidden[name="__RequestVerificationToken"]').val());
        },
        error: function(xhr, status, err) {
        if (xhr.status === 401 || xhr.status === 403) {
        alert("請先登入");
        }
        else {
        alert("系統錯誤：未搜索到指定評論");
        }
        }
        }).done(function(res) {
        $("#@AgreeCountArray[AgreeMessageIndex]").text(res);
        });
        });
        </text>*@
    </script>
}