@page
@model Involver.Pages.Involvings.BecomeProfessionalModel
@{
    ViewData["Title"] = "成為特約作者";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    string GetInvolversPercent()
    {
        string InvolversPercent = "0%";
        if (Model.Involvers > 100)
        {
            InvolversPercent = "100 %";
        }
        else
        {
            double percent = double.Parse(Model.Involvers.ToString()) / 100;
            InvolversPercent = (percent * 100).ToString() + "%";
        }
        return InvolversPercent;
    }
    string GetIncomePercent()
    {
        string IncomePercent = "0%";
        if (Model.Profile.MonthlyCoins > 1000)
        {
            IncomePercent = "100%";
        }
        else
        {
            double percent = double.Parse(Model.Profile.MonthlyCoins.ToString()) / 1000;
            IncomePercent = (percent * 100).ToString() + "%";
        }
        return IncomePercent;
    }
}

<h4>@ViewData["Title"]</h4>
<hr />
<div>
    <a asp-area="Identity"
       asp-page="/Profile/Index"
       asp-route-id="@Model.ProfileID"
       class="btn btn-xs btn-outline-info">
        <i class="fas fa-chevron-left"></i> 回到個人檔案
    </a>
</div>

<div>
    <p></p>
    <b>每月Involve人數達到100人</b>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar"
             style="width:@GetInvolversPercent();" aria-valuenow="25"
             aria-valuemin="0" aria-valuemax="100">@GetInvolversPercent()</div>
        </div>
        <p></p>
        <b>月收入達1000 In幣</b>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar"
                 style="width: @GetIncomePercent();" aria-valuenow="25"
                 aria-valuemin="0" aria-valuemax="100">@GetIncomePercent()</div>
            </div>
            <p></p>
        </div>


        @if (Model.CanBeProfessional)
        {
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
                    <button type="button"
                            asp-route-id="@Model.Profile.ProfileID"
                            class="btn btn-xs btn-outline-success">
                        <i class="fas fa-feather-alt"></i> 成為特約作家
                    </button>
                </div>
            </form>
        }
        else
        {
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
                    <button type="button"
                            asp-route-id="@Model.Profile.ProfileID"
                            class="btn btn-xs btn-outline-success" disabled>
                        <i class="fas fa-feather-alt"></i> 成為特約作家
                    </button>
                </div>
            </form>
        }
