@page
@model Involver.Pages.StatisticalData.Payments.DetailsModel
@{
    ViewData["Title"] = "詳細內容";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>詳細內容</h1>
<div>
    <h4>訂單</h4>
    <div>
        <a asp-page="./Index" class="btn btn-xs btn-outline-info"><i class="fas fa-chevron-left"></i>回到清單</a>&nbsp&nbsp
        <a asp-page="./Delete" asp-route-id="@Model.Payment.PaymentID">刪除</a>
    </div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.InvolverID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.InvolverID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.PaymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaymentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.RequestBody)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.RequestBody)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.ReturnString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.ReturnString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.RtnMsg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.RtnMsg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.TradeAmt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.TradeAmt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.TradeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.TradeDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.TradeNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.TradeNo)
        </dd>
    </dl>
</div>
