@page
@model Involver.Pages.Feed.FollowArticlesModel
@{
    ViewData["Title"] = "屬於每個人的創作";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<nav class="nav nav-pills flex-column flex-sm-row" style="border-radius: 0.75rem;">
    <a asp-page="/Index" class="flex-sm-fill text-sm-center nav-link">追蹤創作</a>
    <a asp-page="/Feed/FollowArticles"
       asp-route-id="@Model.UserProfileID" class="flex-sm-fill text-sm-center nav-link active">追蹤文章</a>
    <a asp-page="/Feed/TrendingCreations"
       asp-route-id="@Model.UserProfileID" class="flex-sm-fill text-sm-center nav-link">熱門創作</a>
    <a asp-area="" asp-page="/Novels/Index" class="flex-sm-fill text-sm-center nav-link">最新創作</a>
    <a asp-area="" asp-page="/Articles/Index" class="flex-sm-fill text-sm-center nav-link">最新文章</a>
</nav>
<p></p>
<div>
    @if (Model.Articles != null)
    {
        @foreach (var article in Model.Articles)
        {
            <div class="row">
                <div class="col-md-5">
                    <a asp-page="/Articles/Details"
               asp-route-id="@article.ArticleID">
                        @Html.DisplayFor(modelItem => article.Title)
                    </a>
                </div>
                <div class="col-md-4 text-muted">
                    @Html.DisplayFor(modelItem => article.Profile.UserName)
                </div>
                <div class="col-md-3 text-muted">
                    @TimePeriodHelper.Get(article.UpdateTime)
                </div>
            </div>
            <hr />
        }
    }
</div>

