@page
@model Involver.Pages.Feed.NotificationsModel
@{
    Layout = null;

    string dataCount = string.Empty;

    int notificationCount = Model.Count;

    if (notificationCount > 0)
    {
        dataCount = $"data-count={notificationCount}";

        if (notificationCount > 99)
        {
            dataCount = $"data-count={"99+"}";
        }
    }
}

<div class="dropdown" id="notification">
    @if(Model.UserId != null && Model.Notifications != null)
    {
        var url = @"/Feed/Notifications?handler=Read";
        <button id="notificationClick" type="button" class="nav-link btn btn-sm btn-link" data-bs-toggle="dropdown" title="通知" onclick="ReadNotification('@Model.UserId', '@url')">
            <span class="fa-stack" id="notificationStack" @dataCount>
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
            </span>
        </button>
        <div class="dropdown-menu dropdown-menu-end" style="min-width: 300px;">
            @if (Model.Notifications.Count != 0)
            {
                foreach (var item in Model.Notifications)
                {
                    <span class="dropdown-item">
                        @if (!item.IsRead)
                        {
                            <span class="dot"></span>
                        }
                        <a class="nav-link" href="@item.Url" style="color: hwb(32deg 0% 8%);">
                            <small>@Html.AntiXssRaw(item.Title)</small>
                        </a>
                        <small title="@item.CreatedDate">@TimePeriodHelper.Get(item.CreatedDate)</small>
                    </span>
                }
                <span class="dropdown-item">
                    <a asp-area ="Identity"
                       asp-page="/Profile/Notifications"
                       asp-route-id="@userManager.GetUserId(User)" 
                       class="nav-link text-info text-center">
                        查看所有通知
                    </a>
                </span>
            }
            else
            {
                <span class="dropdown-item">目前沒有通知</span>
            }
        </div>
    }
</div>
