@page
@model Involver.Pages.Feed.TrendingCreationsModel
@{
    ViewData["Title"] = "屬於每個人的創作";
    Layout = "~/Pages/Shared/_Layout.cshtml";

    string navDisabled = Model.UserProfileID != null ? "" : "disabled";
}

<nav class="nav nav-pills flex-column flex-sm-row" style="border-radius: 0.75rem;">
    <a asp-page="/Index" class="flex-sm-fill text-sm-center nav-link @navDisabled">追蹤創作</a>
    <a asp-page="/Feed/FollowArticles"
       asp-route-id="@Model.UserProfileID" class="flex-sm-fill text-sm-center nav-link @navDisabled">追蹤文章</a>
    <a asp-page="/Feed/TrendingCreations"
       asp-route-id="@Model.UserProfileID" class="flex-sm-fill text-sm-center nav-link active">熱門創作</a>
    <a asp-area="" asp-page="/Novels/Index" class="flex-sm-fill text-sm-center nav-link">最新創作</a>
    <a asp-area="" asp-page="/Articles/Index" class="flex-sm-fill text-sm-center nav-link">最新文章</a>
</nav>
<p></p>
<div>
    @if (Model.Novels != null)
    {
        @foreach (var novel in Model.Novels)
        {
            if (novel.Block != true)
            {
                <div class="row">
                    <div class="col-md-5">
                        <a asp-page="/Novels/Details"
               asp-route-id="@novel.NovelID">
                            @Html.DisplayFor(modelItem => novel.Title)
                        </a>
                    </div>
                    <div class="col-md-4 text-body-secondary">
                        @Html.DisplayFor(modelItem => novel.Profile.UserName)
                    </div>
                    <div class="col-md-3 text-body-secondary" title="@novel.UpdateTime">
                        @TimePeriodHelper.Get(novel.UpdateTime)
                    </div>
                </div>
                <hr />
            }
        }
    }
</div>
