@page
@model LoginModel

@{
    ViewData["Title"] = "登入";
}
<div class="row">
    <div class="col-md-6">
        <div class="form-signin-body text-center">
            <main class="form-signin w-100 m-auto">
                <form id="account" method="post" class="needs-recaptcha" data-sitekey="@Configuration["reCAPTCHA_SiteKey"]" data-action="Login">
                    <h2 class="fw-normal">
                        <img class="m-2 align-middle" src="/favicon.ico" alt="" height="36" />
                        <span class="align-middle">@ViewData["Title"]</span>
                    </h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-floating">
                        <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Input.Username" />
                        <label asp-for="Input.Username"></label>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Input.Password" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">登入</button>

                    <div class="d-flex justify-content-between">
                        <a id="forgot-password" asp-page="./ForgotPassword">忘記密碼？</a>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">註冊為新用戶</a>
                    </div>
                </form>
            </main>
        </div>
    </div>
    <div class="col-md-6 form-signin-body text-center">
        <main class="form-signin w-100 m-auto">
            <h2 class="mb-3 fw-normal">外部登入</h2>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) != 0)
                {
                    <section>
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div class="d-grid gap-2">
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    if (provider.Name == "Google")
                                    {
                                        <button type="submit" class="btn btn-google" value="@provider.Name"
                                                title="Log in using your @provider.DisplayName account" name="provider">
                                            <i class="fab fa-google fa-align-left social-icon" style=""></i> @provider.DisplayName
                                        </button>
                                    }
                                    else if (provider.Name == "Facebook")
                                    {
                                        <button class="btn btn-facebook" type="submit" value="@provider.Name"
                                                title="Log in using your @provider.DisplayName account" name="provider">
                                            <i class="fab fa-facebook fa-align-left social-icon"></i> @provider.DisplayName
                                        </button>
                                    }
                                    else if (provider.Name == "Twitter")
                                    {
                                        <button class="btn btn-twitter" type="submit" value="@provider.Name"
                                                title="Log in using your @provider.DisplayName account" name="provider">
                                            <i class="fab fa-twitter fa-align-left social-icon"></i> @provider.DisplayName
                                        </button>
                                    }
                                    else if (provider.Name == "Microsoft")
                                    {
                                        <button class="btn btn-microsoft" type="submit" value="@provider.Name"
                                                title="Log in using your @provider.DisplayName account" name="provider">
                                            <i class="fab fa-microsoft fa-align-left social-icon"></i> @provider.DisplayName
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-linkedin" type="submit" name="provider"
                                                value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <i class="fab fa-life-buoy fa-align-left social-icon"></i>
                                            Log in with @provider.Name
                                        </button>
                                    }
                                }
                            </div>
                        </form>
                    </section>
                }
            }
        </main>
    </div>
</div>

@section Styles {
    <style>
        /* ==============================================
            Sign-in Page Styles
        ==============================================
        */
        .form-signin-body {
            height: 100%;
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .form-signin {
            max-width: 430px;
            padding: 1rem;
        }

            .form-signin .form-floating:focus-within {
                z-index: 2;
            }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

    </style>
}

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["reCAPTCHA_SiteKey"]" async defer></script>
}
